@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 @layer components {
  .container {
    @apply max-w-7xl mx-auto px-10
  }
}
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-image: url('../../public/noise.png');
  background-size: 200px 200px;
  background-position: 0 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
